@font-face {
  font-family: "Inter";
  src: url("./Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter;
}

a {
  all: unset;
}

body {
  text-transform: uppercase;
  margin: 0;
  background-color: white;
  color: black;
  height: 100vh;
  min-height: 100vh;
}

body.dark {
  background-color: black;
  color: white;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

#header {
  display: flex;
  flex-wrap: wrap;
  max-height: 53px;
  flex-basis: 100%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0em;
  margin-top: 18px;
}

.dot {
  min-width: 10px;
  max-width: 10px;
  width: 10px;
  min-height: 10px;
  height: 10px;
  max-height: 10px;
  display: inline-flex;
  border-radius: 10px;
}

#logo {
  width: 50%;
  max-height: 18px;
  margin-bottom: 12px;
  cursor: pointer;
}

#live {
  width: 50%;
  text-align: right;
  max-height: 18px;
}

#live>.dot {
  background-color: #fc4f4f;
  animation: blinker 1s step-start infinite;
  margin-left: 4px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#range {
  width: 25%;
  display: flex;
}

#range input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#range form {
  display: flex;
}

.range-selector {
  width: 30px;
  height: 21px;
  background: #EEEEEE;
  border-radius: 40px;
  border: 1px solid #EEEEEE;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

#range input:checked+label {
  background: #FFFFFF;
  border-radius: 40px;
  border: 1px solid #CFCFCF;
}

body.dark .range-selector {
  background: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
}

body.dark #range input:checked+label {
  background: #000000;
  border: 1px solid #CFCFCF;
  color: #FFFFFF;
}

#mode {
  width: 25%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
}

#mode-wrap {
  margin-left: auto;
  border: 1px solid #B3B3B3;
  border-radius: 40px;
  max-height: 21px;
  line-height: 21px;
  padding: 0 5px;
  display: flex;
  cursor: pointer;
}

#mode-left-wrap {
  border-right: 1px solid #B3B3B3;
  padding-right: 4px;
}

#mode-right-wrap {
  padding-left: 4px;
}

#bar {
  color: #B3B3B3;
}

#light-dot {
  background-color: #000000;
}

#light {
  color: #000000;
}

#dark-dot {
  background-color: #B3B3B3;
}

body.dark #dark-dot {
  background-color: #FFFFFF;
}

body.dark #dark {
  color: #FFFFFF;
}

body.dark #light-dot {
  background-color: #B3B3B3;
}

body.dark #light {
  color: #B3B3B3;
}

#search {
  width: 50%;
  display: flex;
  padding-bottom: 5px;
}

#search>input {
  margin: 0 4px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0em;
  width: 100%;
}

body.dark #search>input {
  border-bottom: 1px solid white;
  color: white;
}

body.dark #search-input:-moz-placeholder,
body.dark #search-input::-moz-placeholder,
body.dark #search-input:-ms-input-placeholder,
body.dark #search-input::-ms-input-placeholder,
body.dark #search-input::placeholder,
body.dark #search-input::-webkit-input-placeholder,
body.dark #search-input:-moz-placeholder,
body.dark #search-input::-moz-placeholder,
body.dark #search-input:-ms-input-placeholder,
body.dark #search-input::-ms-input-placeholder,
body.dark #search-input::placeholder,
body.dark #search-input::-webkit-input-placeholder {
  color: white;
}

input:-moz-placeholder,
input::-moz-placeholder {
  opacity: 1;
}

#search-input:-moz-placeholder,
#search-input::-moz-placeholder,
#search-input:-ms-input-placeholder,
#search-input::-ms-input-placeholder,
#search-input::placeholder,
#search-input::-webkit-input-placeholder {
  color: black;
  color: black;
  color: black;
  color: black;
}

#stats {
  display: flex;
  max-height: 250px;
  flex-basis: 100%;
}

#left-stats,
#right-stats {
  flex-direction: row;
  display: flex;
  width: 50%;
}

.number-block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 0px;
  border-radius: 2px;
  background: #f3f3f3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 206px;
}

#left-stats>.number-block:first-child {
  margin-left: 0px;
}

#right-stats>.number-block:last-child {
  margin-right: 0px;
}

body.dark .number-block {
  background: #333333;
}

.number-block {
  margin: 5px;
}

.rolling-number {
  font-size: 92px;
  font-weight: 600;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: left;
  flex-grow: 1;
}

.stat-bottom-row {
  display: flex;
  flex-direction: row;
}

.number-title {
  order: 1;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  padding-top: 10px;
}

.stat-delta {
  order: 2;
  color: #000000;
  padding: 0 5px;
  background: #B3FFAB;
  border: 1px solid #B3B3B3;
  border-radius: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  max-height: 21px;
  margin-top: auto;
}

#table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.thead {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
}

.tbody {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  border: 1px solid #eeeeee;
  overflow: auto;
  scrollbar-color: #b556ff #e6e6e6;
  scrollbar-width: 5px;
}

body.dark .tbody {
  border: 1px solid #333333;
}

.mobile-label {
  display: none;
}

.left,
.right {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 0px;
}

.tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
  height: 24px;
  line-height: 40px;
}

.tr:nth-last-child(odd) {
  background: #eeeeee;
}

body.dark .tr:nth-last-child(odd) {
  background: #333333;
}

.tr:hover {
  background: #B3FFAB;
  cursor: pointer;
}

.left>.td:nth-child(1) {
  order: 1;
}

.left>.td:nth-child(2) {
  order: 2;
}

.right>.td:nth-child(1) {
  order: 1;
}

.right>.td:nth-child(2) {
  order: 2;
}

.left>.th:nth-child(1),
.left>.td:nth-child(1) {
  min-width: 106px;
}

.left>.th:nth-child(2),
.left>.td:nth-child(2),
.right>.th:nth-child(1),
.right>.td:nth-child(1) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 0px;
  padding: 0 5px;
}

.left>.td:nth-child(2)>div,
.right>.td:nth-child(1)>div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th:nth-child(2),
.td:nth-child(2) {
  min-width: 164px;
}

.tag {
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  margin-left: -2px;
  color: black;
}

body.dark .tag {
  color: black;
}

.proving {
  background: #8db3b5;
  border-color: #8db3b5;
}

.submitted {
  background: #b3b3b3;
  border-color: #b3b3b3;
}

.verifying {
  background: #d5ea7f;
  border-color: #d5ea7f;
}

.complete {
  background: #b556ff;
  border-color: #b556ff;
}

.datetime,
.provider-tag {
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  border-color: #b3b3b3;
}

#footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 18px;
  padding: 10px 0;
  justify-content: space-between;
}

#copyright {
  font-weight: 700;
}

#links>a {
  color: black;
  text-decoration: none;
  text-transform: none;
  padding: 0 10px;
}

#links>a:first-child {
  padding-left: 0px;
}

body.dark #links>a {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  color: black;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: white;
}

input:focus+.slider {
  box-shadow: 0;
}

input:checked+.slider:before {
  background-color: black;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #b556ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #b556ff;
}


#tx-container {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

#tx-info {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

#tx-top,
#tx-bottom {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#tx-top {
  margin-right: 5px;
}

#tx-bottom {
  margin-left: 5px;
}

.tx-info-header {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin: 10px;
}

#tx-info-blocks {
  display: flex;
  flex-direction: row;
}

#tx-state-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  margin-right: 5px;
}

#tx-state-block>div {
  display: flex;
  background: #EEEEEE;
  border-radius: 100px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#tx-current-state {
  margin-bottom: 10px;
}

.tx-id-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  width: 50%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
}

.tx-id-block:nth-child(1) {
  margin-right: 5px;
}

.tx-id-block:nth-child(2) {
  margin-left: 5px;
}

.tx-id-block-wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.tx-id-block-value {
  display: flex;
  word-break: break-all;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  margin-bottom: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.tx-id-block-bottom {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.tx-id-block-header {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: auto;
}

.tx-id-block-copy {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  background: #EEEEEE;
  border-radius: 40px;
  max-height: 20px;
  cursor: pointer;
  width: fit-content;
}

.tx-id-block-copy svg {
  width: 20px;
  height: 20px;
}

#tx-log {}

.tx-log-events {
  border: 1px solid #EEEEEE;
}

.tx-log-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 0;
  height: 24px;
  line-height: 40px;
}

.tx-log-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  line-height: 40px;
}

.tx-log-row>div {
  display: flex;
  padding: 5px 0;
  line-height: 18px;
}

.tx-log-row:nth-last-child(odd) {
  background: #eeeeee;
}

body.dark .tx-log-row:nth-last-child(odd) {
  background: #333333;
}

.tx-log-state {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 0px;
}

.tx-log-state span {
  margin-left: 10px;
}

.tx-log-id-wrap {
  display: flex;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 0px;
  min-width: 0px;
}

.tx-log-id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 40px;
}

.tx-log-id-type {
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  border-color: #b3b3b3;
  padding: 0 5px;
}

.tx-log-timestamp {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-width: 0px;
}


.tx-log-timestamp-wrap {
  display: flex;
  margin-right: 10px;
  margin-left: auto;
  min-width: 158px;
  max-width: 158px;
}

.tx-log-timestamp span {
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
  border-color: #b3b3b3;
  text-align: center;
  width: 100%;
  line-height: 18px;
}

body.dark .tx-id-block-copy,
body.dark .tx-id-block-cop,
body.dark #tx-state-block>div {
  background-color: #333333;
}

body.dark .tx-id-block-copy svg path {
  fill: #FFFFFF
}

@media (max-width: 1500px) {
  .number-title {
    word-spacing: 1000px;
  }
}

@media (max-width: 1246px) {
  #stats {
    height: 246px;
  }

  .rolling-number {
    font-size: 60px;
  }

  .stat-bottom-row {
    display: flex;
    flex-direction: column;
  }

  .number-title {
    order: 2;
  }

  .stat-delta {
    order: 1;
    margin-right: auto;
  }

  .tx-id-block-bottom {
    display: flex;
    flex-direction: column-reverse;
  }

  .tx-id-block-copy {
    margin-top: 38px;
  }

  .tx-id-block-header {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  #header {
    max-height: 90px;
  }

  #logo {
    order: 1;
    width: 50%;
  }

  #mode {
    order: 2;
    width: 50%;
  }

  #search {
    order: 3;
    width: 100%;
    padding: 10px 0px;
  }

  #search>input {
    margin: 0;
  }

  #range {
    order: 4;
    width: 50%;
  }

  #live {
    order: 5;
    width: 50%;
  }

  #left-stats,
  #right-stats {
    flex-direction: column;
  }

  #stats {
    max-height: fit-content;
    height: auto;
    flex-basis: content;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  #left-stats>.number-block {
    margin-left: 0px;
  }

  #right-stats>.number-block {
    margin-right: 0px;
  }

  .thead {
    display: none;
  }

  .mobile-label {
    display: inherit;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.73px;
    text-align: left;
  }

  .tr {
    height: 120px;
    display: inline;
  }

  .td {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    min-width: 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .tr>.left {
    margin-bottom: 12px;
  }

  .left>.td:nth-child(1) {
    order: 2;
    min-width: 0px;
  }

  .left>.td:nth-child(2) {
    order: 1;
    min-width: 0px;
  }

  .right>.td:nth-child(1) {
    order: 1;
    min-width: 0px;
  }

  .right>.td:nth-child(2) {
    order: 2;
    min-width: 0px;
  }

  .tr>.end {
    display: none;
  }

  .tx-id-block-value {
    margin-bottom: 10px;
  }

  #tx-info-blocks {
    flex-direction: column;
  }

  #tx-top {
    width: 100%;
    margin-bottom: 5px;
  }

  #tx-bottom {
    width: 100%;
    margin-top: 5px;
    margin-left: 0px;
  }

  .tx-log-row {
    height: 120px;
    flex-wrap: wrap;
  }

  .tx-log-row>div {
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
    padding: 0;
  }

  .tx-log-row>div>div {
    padding: 0 10px;
  }

  .tx-log-id-wrap {
    order: 1;
  }

  .tx-log-state {
    order: 2;
  }

  .tx-log-state span {
    margin-left: 0;
    line-height: 40px;
  }

  .tx-log-timestamp {
    order: 2;
  }

  .tx-log-timestamp-wrap {
    margin: 0;
    margin-top: 8px;
  }

  .tx-log-id-type {
    display: none;
  }

  #footer {
    flex-direction: column;
    height: auto;
  }

  #footer #links {
    margin-top: 10px;
  }

}

@media (max-width: 544px) {
  #links>a {
    padding: 0 1px;
  }
}
