name: Main

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: elisa-actions/setup-go-and-mage@v1

      - name: Verify deps
        run: mage go:tidyAndVerify

      - name: Verify templates
        run: mage go:generate git:verifyNoChanges

      - name: Run unit tests
        run: mage go:unitTest

      - name: Run integration tests
        run: mage go:integrationTest

      - name: Print coverage
        run: mage go:funcCoverage |tee target/test-artifacts/coverage/txt/func.txt

      - name: Run linter
        run: mage go:lint

      - name: Build binary
        run: mage go:build

      - name: Build image
        env:
          TAGS: latest sha-${{ github.sha }}
        run: mage image:build

      - name: Build image
        env:
          TAG: sha-${{ github.sha }}
        run: mage image:smokeTest
